@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
h1 {
    color: red;
}

body {
    text-align: center;
    font-Family: Arial;
    background-color: aqua;
    color: purple;
}

img {
    border-radius: 10px;
}

p {
    font-family: "Bitcount Grid Single", system-ui;

}